<!-- BEGIN_INCLUDE(fifo-queue:put) -->
    <fifo-queue:put queue="queue1" />
<!-- END_INCLUDE(fifo-queue:put) -->

<!-- BEGIN_INCLUDE(fifo-queue:peek) -->
    <fifo-queue:peek queue="queue1" />
<!-- END_INCLUDE(fifo-queue:peek) -->

<!-- BEGIN_INCLUDE(fifo-queue:take) -->
    <fifo-queue:take queue="queue1" />
<!-- END_INCLUDE(fifo-queue:take) -->

<!-- BEGIN_INCLUDE(fifo-queue:size) -->
    <fifo-queue:size queue="queue1" />
<!-- END_INCLUDE(fifo-queue:size) -->

<!-- BEGIN_INCLUDE(fifo-queue:status) -->
    <fifo-queue:status queue="queue1" />
<!-- END_INCLUDE(fifo-queue:status) -->

<!-- BEGIN_INCLUDE(fifo-queue:mark-error) -->
    <fifo-queue:mark-error queue="queue1" />
<!-- END_INCLUDE(fifo-queue:mark-error) -->

<!-- BEGIN_INCLUDE(fifo-queue:resolve-error) -->
    <fifo-queue:resolve-error queue="queue1" />
<!-- END_INCLUDE(fifo-queue:resolve-error) -->

<!-- BEGIN_INCLUDE(fifo-queue:peek-all) -->
    <fifo-queue:peek-all />
<!-- END_INCLUDE(fifo-queue:peek-all) -->

<!-- BEGIN_INCLUDE(fifo-queue:take-all) -->
    <fifo-queue:take-all />
<!-- END_INCLUDE(fifo-queue:take-all) -->

<!-- BEGIN_INCLUDE(fifo-queue:drain) -->
    <fifo-queue:drain queue="queue1" />
<!-- END_INCLUDE(fifo-queue:drain) -->

<!-- BEGIN_INCLUDE(fifo-queue:drain-all) -->
    <fifo-queue:drain-all />
<!-- END_INCLUDE(fifo-queue:drain-all) -->

<!-- BEGIN_INCLUDE(fifo-queue:peek-listener) -->
    <fifo-queue:peek-listener queue="queue1" />
<!-- END_INCLUDE(fifo-queue:peek-listener) -->

<!-- BEGIN_INCLUDE(fifo-queue:take-listener) -->
    <fifo-queue:take-listener queue="queue1" />
<!-- END_INCLUDE(fifo-queue:take-listener) -->

<!-- BEGIN_INCLUDE(fifo-queue:peek-all-listener) -->
    <fifo-queue:peek-all-listener />
<!-- END_INCLUDE(fifo-queue:peek-all-listener) -->

<!-- BEGIN_INCLUDE(fifo-queue:take-all-listener) -->
    <fifo-queue:take-all-listener />
<!-- END_INCLUDE(fifo-queue:take-all-listener) -->